* {
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
    
}
section {
    background: url(/img/bg-masthead.jpg);
    background-size: 100% 100%;
    

    
    
}

#grayscale {
    font-size: 80px;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#9b9393));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    color :rgba(255,255,255,.5);
}

nav {
    display:block;
 
}



