* {
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
    
}
#mastehead {
    background: linear-gradient(to bottom, rgba(49, 49, 49, 0.616), rgb(0, 0, 0)) ,url(img/bg-masthead.jpg);
    background-size: 100% 100%; 
    
}

nav {
    display:block;
 
}

#grayscale {
    font-size: 80px;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#9b9393));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    color :rgba(255,255,255,.5);
}

#linear {
    background: linear-gradient(to bottom, rgba(0,0,0), rgb(49, 49, 49, 0.616));
    margin-top: -35px;  
    padding-top: 10rem;
}
    
#linear>img {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 2%;
    
}


#pgray {
    max-width: 50%;
    margin: auto;
}

#bg {
    max-width: 100%;
    height: auto;
    margin-top: 20%;
}

#border {
    margin-top: 20%;
    border-left: 0.34rem solid #64a19d;
    padding: 0 0 0 2rem;
    text-align: left;
    
}

.bg-black {
    background-color: #161616;
   
}

h4 {
    padding-top: 30%;
    
}

#example {
    max-width: 50%;
}

hr {
    border-color: #64a19d;
    border-width: .25rem;
    max-width: 30%;

}

#img2 {
    max-width: 100%;
}

#demo2 {
    background: url(img/bg-signup.jpg);
    background-size: cover;
}

input {
    max-width: 100%;
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 10%;
    
    
}

.btn-primary {
    margin-top: 10%;
    margin-right: 30%;
    padding: 1rem;
    background-color: #64a19d;
}

#plane {
    margin-top: 10%;
  
}


.signup-section{
    padding:10rem 0;
    background:linear-gradient(to bottom,rgba(22,22,22,.1) 0,rgba(22,22,22,.5) 75%,#161616 100%),url(img/bg-signup.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-size:cover;
 }
 .signup-section .form-inline input{
    -webkit-box-shadow:0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;
    box-shadow:0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;
    padding:1.25rem 2rem;
    height:auto;
    font-size:80%;
    text-transform:uppercase;
    letter-spacing:.15rem;
    border:0
 }
 .contactbas{
    padding:5rem 0 0
 }
 .contactbas .card{
    border:0;
    border-bottom:.25rem solid #64a19d
 }
 .contactbas .card h4{
    font-size:.8rem;
    text-transform:uppercase;
    letter-spacing:.15rem
 }
 .contactbas .card hr{
    border-color:#64a19d;
    border-width:.25rem;
    width:3rem
 }
 .contactbas .social{
    margin-top:5rem
 }
 .contactbas .social a{
    text-align:center;
    height:3rem;
    width:3rem;
    background:rgba(255,255,255,.1);
    border-radius:100%;
    line-height:3rem;
    color:rgba(255,255,255,.3)
 }
 .contactbas .social a:active{
    color:#fff
 }
 
 .fa {
    color: #64a19d;
 }

