* {
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
    
}
#mastehead {
    background: linear-gradient(to bottom, rgba(49, 49, 49, 0.616), rgb(0, 0, 0)) ,url(img/bg-masthead.jpg);
    background-size: 100% 100%; 
    
}

nav {
    display:block;
 
}

#grayscale {
    font-size: 80px;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#9b9393));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    color :rgba(255,255,255,.5);
}

#linear {
    background: linear-gradient(to bottom, rgba(0,0,0), rgb(49, 49, 49, 0.616));
    margin-top: -35px;  
    padding-top: 10rem;
}
    
#linear>img {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 2%;
    
}


#pgray {
    max-width: 50%;
    margin: auto;
}

